<html>

<head>
  <title>
    <%=orgName%> has invited you to collaborate
  </title>
</head>

<body>
  <div style="font-family:'Google Sans', 'Roboto',sans-serif;font-size:14px;color:#111; margin: 25px">
    <div style="width:100%; max-width: 500px;margin: 0 auto;text-align:center">
      <div style="border: 1px solid #e3e3e3; border-radius: 5px;padding: 25px">
        <div>
          <img src="<%= orgLogo %>" alt="" height="55">
        </div>
        <h1 style="font-weight: 300;font-size: 1.5rem;margin-bottom:50px">
          <strong>
            <%=orgName%>
          </strong> has invited you to collaborate in the <strong>
            <%=engagementName%>
          </strong> engagement.
          <br><br>
          Click the button below to start collaborating.
        </h1>
        <div style="margin-bottom: 50px">
          <a style="background: <%= orgColor %>;color: white;outline: none;border:none;border-radius:5px;padding: 15px 30px;font-size: 1.2rem;cursor:pointer;text-decoration:none;"
            href="<%= verificationUrl %>">
            Click to Accept
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>